.bg_Color{
     background: linear-gradient(rgb(148, 105, 13), rgb(9, 47, 216));
    /* background-image: url(images/nsiteBG.png); */
   /* background-color: #0e0c26; */
}

#homeID{
    width: 200px; 
    height: 200px; 
    padding-bottom: 20px;
}


.nav-item{
    border-radius: 100px;
    font-family: STmono;   
    border-radius: 100px;
    transform: translateX(0x);
    transition: .3s all;
}

.nav-item:hover{
    background: radial-gradient(rgb(13, 71, 148), rgb(9, 92, 216));
    border-radius: 100px;
    box-shadow: 1px 1px 40px 1px #079cca;
    color: #000000;
    transition: .3s;
    transform: translateY(5px);
}

.logoSite{
    transition: .5s;
    transform: translateX(10px);
}

.logoSite:hover{
    background: linear-gradient(rgb(148, 13, 92), rgb(216, 9, 154));
    border-radius: 100px;
    box-shadow: 1px 1px 40px 1px;
    color: rgb(216, 9, 154);
    transition: .3s;
    padding: 10px 95px;
    transform: translateX(10px);
}


.aboutLogo{
    height: 100px;
    padding-bottom: 50px;
    transition: .3s;
    transform: translateY(20px);
}


.aboutLogo:hover{
    height: 200px;
    padding-bottom: 100px;
    height: 200px;
    color: #000000;
    transition: .3s;
    transform: translateY(20px);
}

.btn:hover{
    color: #000000;
    transition: .3s;
    transform: translateY(5px);
}

.text_Color{
    color: wheat;
    display: inline-flex;
    font-size: 100px;
}

.cover-heading{
    font-family: STMono;
    font-weight: bold;
    font-size: 60pt;
    transition: .3s;
    color: #ffffff;
}

.cover-heading-text{
      font-family: STMono;
    font-weight:bolder;
    font-size: 80pt;
}

.cover-heading:hover{
    transform: translateZ(100px);
    transition: .3s;
    color: #6b00c2;
}

.lead{
    font-family: STmono;
    font-size: 20px;
    transition: .5s;
    color: rgb(223, 236, 227);
    font-style: italic;
    /* color: wheat; */
}

.lead:hover{
    font-family: STmono;
    font-size: 30px;
    transition: 1s;
    color: wheat;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #b30f7c;
    border-color: #eb8ed7;
}


.navbar-nav navbar{
    font-size: 500px;
}

.cover{
    padding-top: 50px;
    padding-bottom: 100px;
    max-width: 900px;
}

.cardsPlease{
    display: flex;
    align-items:center;
    justify-content: center;
}

.card{
    font-size: smaller;
    margin: 1rem;
    transition: .5s;
}

.card:hover{
    box-shadow: 1px 1px 40px 1px #078cca;
    font-size:medium;
    margin: 1rem;
    transform: translateY(10px);
    transition: .5s;
}

.card-text{
    font-family: STMono;
    text-align: justify;
    background-color: #58575762;
    color: #ffffff;
}

.whatText{
    max-width: 900px;
    font-size: 30px;
    font-family: STMono;
    font-weight: 1;
}

.whatTextDiv{
    display: flex;
    padding-block-start: 0%;
    justify-content: center;
}

.scrollspy-example {
    position:absolute;
    height:300px;
    overflow:auto;
}

.body_Heading, .body_Text{
    font-weight: bold;
    min-width: auto;
    color: wheat;
    font-size: 30pt;
    font-family: STMono;
}

.card-title{
    align-self: start;
    color: wheat ;
    background-color: #06a2bd;
    font-size: 25pt;
    font-family: STMono;
}


.cardInnerHead{
    font-family: STMono;
    font-size:medium;
    background-color: #000000af;
    color: rgb(173, 122, 26);
}

.darken{
    filter: brightness(20%);
}

.body_img{
    width: 20%;
    max-width: 28%;
    height: 10%;
}

.accordion-item {
    font-family: STMono;
    --bs-accordion-btn-bg: #2b64df;
    --bs-accordion-active-bg: mintcream;
    --bs-accordion-active-color: #000000;
    --bs-accordion-bg: mintcream;
    --bs-accordion-color: #000000;
    --bs-accordion-btn-focus-box-shadow: none;
    box-shadow: none;
  }

.accordion-button{
    font-weight: bold;
}
@font-face{
    font-family: "STMono";
    src: url('font/ShareTechMono-Regular.ttf')
}

@font-face{
    font-family: "CooperBlk";
    src: url(font/CooperBlack.ttf);
}
