.bg_Color{
    background-image: url(images/bg.png);
   /* background-color: #0e0c26; */
}

.nav-item{
    font-family: STmono;  
    color: white;
}

.text_Color{
    color: wheat;
    display: inline-flex;
    font-size: 100px;
}

.cover-heading{
    font-family: STmono;
    font-size: 30pt;
    color: #39df20;
}

.lead{
    font-family: STmono;
    font-size: 20px;
    color: wheat;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #b30f7c;
    border-color: #eb8ed7;
}

.navbar navbar-expand-lg navbar-dark{
    position: sticky;
    top: 0;
}

.navbar-nav navbar{
    font-size: 500px;
}

.cover{
    display: block;
    padding-top: 50px;
    padding-bottom: 100px;
    min-width: auto;
    max-width: 900px;
}

.scrollspy-example {
    position: relative;
    height:300px;
    overflow: auto;
}

.body_Heading, .body_Text{
    min-width: auto;
    max-width: 50;
    padding-left: 50px;
    color: white;
    font-size: 30pt;
    font-family: STMono;
}

@font-face{
    font-family: "STMono";
    src: url('font/ShareTechMono-Regular.ttf')
}
