.bg_Color{
    background-image: url(images/nsiteBG.png);
   /* background-color: #0e0c26; */
}


.nav-item{
    font-family: STmono;  
    color: rgb(255, 255, 255);
    border-radius: 100px;
    transform: translateX(0x);
    transition: .3s all;
}

.nav-item:hover{
    background: linear-gradient(rgb(13, 148, 54), rgb(16, 216, 9));
    border-radius: 100px;
    box-shadow: 1px 1px 40px 1px #3eca07;
    color: #000000;
    transition: .3s;
    padding: 10px 95px;
    transform: translateY(5px);
}

.logoSite{
    transition: .5s;
    transform: translateX(10px);
}

.logoSite:hover{
    background: linear-gradient(rgb(148, 13, 92), rgb(216, 9, 154));
    border-radius: 100px;
    box-shadow: 1px 1px 40px 1px;
    color: #000000;
    transition: .3s;
    padding: 10px 95px;
    transform: translateX(10px);
}


.aboutLogo{
    height: 100px;
    padding-bottom: 50px;
    transition: .3s;
    transform: translateY(20px);
}


.aboutLogo:hover{
    height: 200px;
    padding-bottom: 100px;
    height: 200px;
    color: #000000;
    transition: .3s;
    transform: translateY(20px);
}

.btn:hover{
    color: #000000;
    transition: .3s;
    transform: translateY(5px);
}

.text_Color{
    color: wheat;
    display: inline-flex;
    font-size: 100px;
}

.cover-heading{
    font-family: STmono;
    font-size: 30pt;
    transition: .3s;
    color: #39df20;
}

.cover-heading:hover{
    font-family: STmono;
    font-size: 35pt;
    transition: .3s;
    color: #ffffff38;
}

.lead{
    font-family: STmono;
    font-size: 20px;
    transition: .5s;
    color: rgb(154, 51, 214);
    /* color: wheat; */
}

.lead:hover{
    font-family: STmono;
    font-size: 30px;
    transition: 1s;
    color: wheat;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #b30f7c;
    border-color: #eb8ed7;
}

.navbar navbar-expand-lg navbar-dark{
    position: sticky;
    top: 0;
}

.navbar-nav navbar{
    font-size: 500px;
}

.cover{
    display: block;
    padding-top: 50px;
    padding-bottom: 100px;
    min-width: auto;
    max-width: 900px;
}

.cardsPlease{
    display: flex;
    align-items:center;
    justify-content: center;
}

.card{
    margin: 5rem;
    transition: .5s;
}

.card::-webkit-scrollbar{
    margin: 1rem;
    transition: .5s;
}

.card-text{
    color: #74b81c;
    max-width: 800px;
}

.scrollspy-example {
    position:absolute;
    height:300px;
    overflow:auto;
}

.body_Heading, .body_Text{
    min-width: auto;
    max-width: 400;
    color: white;
    font-size: 30pt;
    font-family: STMono;
}

.card-title{
    color: wheat ;
    font-size: 30pt;
    font-family: STMono;
}

@font-face{
    font-family: "STMono";
    src: url('font/ShareTechMono-Regular.ttf')
}

